:root{
    /*FONT SIZES*/
    --font-size-s:25px;
    --font-size-m:34px;
    --font-size-titulo-principal:60px;

    /*COLORS*/
    --color-grey:#676767;
    --color-pink:#fd6084;
    --color-white:#FFFFFF;
    --color-black:#333333;
}