@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*NAV*/

.toggle-menu{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    z-index: 1;  
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 50px;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    transform: translateY(-100%);
    transition: transform 0.3s;
    width: 100%;
}

.main-menu--show{
    transform: translateY(0); /* menu se quede en la posicion */
}

.main-menu__item{
    padding: 1rem;
}

.main-menu__link{
    color: var(--color-black);
    text-decoration: none;
    position: relative;
}

.main-menu__link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:var(--color-pink);
    transform-origin: bottom right;
    transition:  transform 0.5s ease-out;
}

.main-menu__link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.flags{
    display: flex;
    align-items: center;
}

.flags div:first-child{
    margin-right: 0.5rem;
    width: 34px;
    padding: 0.4rem;
    cursor: pointer;
    background-color: var(--color-pink);
    border-radius: 50px;
    text-align: center;
    color: var(--color-white);
}

.flags div:last-of-type{
    margin-right: 0.5rem;
    width: 34px;
    padding: 0.3rem;
    cursor: pointer;
    border: 2px solid var(--color-pink);
    border-radius: 50px;
    text-align: center;
    
}

/*PRESENTATION*/

.container-presentation{
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1063%26quot%3b)' fill='none'%3e%3cpath d='M155.133%2c599.407C189.508%2c599.857%2c225.972%2c591.67%2c243.942%2c562.363C262.58%2c531.967%2c257.65%2c493.056%2c238.966%2c462.688C221.182%2c433.783%2c189.063%2c417.294%2c155.133%2c418.016C122.437%2c418.712%2c94.033%2c438.055%2c77.262%2c466.13C59.999%2c495.027%2c53.281%2c531.026%2c70.262%2c560.09C87.12%2c588.943%2c121.719%2c598.97%2c155.133%2c599.407' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M675.339%2c382.097C695.41%2c383.087%2c716.208%2c374.784%2c725.717%2c357.081C734.852%2c340.073%2c727.225%2c320.332%2c717.462%2c303.676C707.846%2c287.271%2c694.355%2c271.094%2c675.339%2c271.137C656.374%2c271.18%2c642.319%2c287.052%2c633.547%2c303.867C625.51%2c319.274%2c624.707%2c337.173%2c632.895%2c352.5C641.605%2c368.805%2c656.875%2c381.186%2c675.339%2c382.097' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M458.087%2c604.362C486.485%2c604.941%2c516.346%2c599.01%2c532.127%2c575.393C549.57%2c549.288%2c553.772%2c513.556%2c536.103%2c487.604C519.861%2c463.747%2c486.936%2c465.816%2c458.087%2c466.643C431.302%2c467.411%2c402.085%2c469.417%2c387.452%2c491.865C371.721%2c515.997%2c373.779%2c548.082%2c389.097%2c572.478C403.536%2c595.474%2c430.94%2c603.809%2c458.087%2c604.362' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M184.822%2c412.134C217.435%2c412.274%2c244.675%2c391.023%2c262.008%2c363.397C280.738%2c333.544%2c293.021%2c297.027%2c276.611%2c265.839C259.291%2c232.92%2c221.918%2c213.955%2c184.822%2c216.697C151.443%2c219.164%2c129.325%2c248.181%2c113.867%2c277.867C99.837%2c304.81%2c94.58%2c335.883%2c108.773%2c362.74C123.91%2c391.384%2c152.424%2c411.995%2c184.822%2c412.134' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M369.064%2c496.765C407.053%2c499.264%2c450.657%2c499.842%2c471.701%2c468.116C494.234%2c434.144%2c484.281%2c389.408%2c463.558%2c354.302C443.224%2c319.855%2c409.057%2c295.027%2c369.064%2c294.246C327.737%2c293.439%2c286.579%2c313.581%2c267.954%2c350.482C250.682%2c384.702%2c265.629%2c424.46%2c287.424%2c455.993C305.961%2c482.812%2c336.532%2c494.625%2c369.064%2c496.765' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1204.381%2c365.682C1260.793%2c365.293%2c1320.761%2c353.229%2c1350.204%2c305.109C1380.692%2c255.281%2c1372.57%2c191.211%2c1341.341%2c141.844C1312.199%2c95.776%2c1258.863%2c72.781%2c1204.381%2c74.588C1153.061%2c76.29%2c1110.046%2c107.228%2c1082.299%2c150.434C1051.591%2c198.251%2c1026.996%2c257.714%2c1055.032%2c307.145C1083.305%2c356.994%2c1147.073%2c366.077%2c1204.381%2c365.682' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1369.524%2c175.056C1406.63%2c174.609%2c1441.726%2c156.769%2c1460.357%2c124.676C1479.062%2c92.455%2c1476.217%2c53.596%2c1459.307%2c20.398C1440.436%2c-16.651%2c1411.102%2c-53.446%2c1369.524%2c-53.647C1327.723%2c-53.849%2c1297.64%2c-17.496%2c1278.224%2c19.522C1260.394%2c53.516%2c1255.388%2c93.808%2c1274.82%2c126.912C1294.035%2c159.645%2c1331.571%2c175.513%2c1369.524%2c175.056' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M402.519%2c150.928C423.561%2c149.279%2c437.013%2c131.06%2c447.694%2c112.855C458.56%2c94.334%2c469.008%2c73.132%2c459.438%2c53.91C449.057%2c33.059%2c425.793%2c21.202%2c402.519%2c22.119C380.628%2c22.981%2c364.144%2c39.324%2c352.871%2c58.109C341.164%2c77.618%2c332.424%2c100.984%2c343.155%2c121.046C354.354%2c141.983%2c378.848%2c152.783%2c402.519%2c150.928' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M919.755%2c449.235C936.776%2c449.368%2c953.865%2c441.233%2c961.307%2c425.924C968.105%2c411.942%2c960.081%2c396.586%2c951.723%2c383.477C944.19%2c371.661%2c933.753%2c361.405%2c919.755%2c360.75C904.642%2c360.043%2c890.179%2c367.399%2c882.145%2c380.22C873.58%2c393.888%2c871.598%2c411.118%2c879.316%2c425.281C887.351%2c440.026%2c902.964%2c449.103%2c919.755%2c449.235' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M997.123%2c570.69C1018.107%2c570.751%2c1037.821%2c560.607%2c1048.758%2c542.699C1060.185%2c523.989%2c1061.733%2c500.872%2c1051.654%2c481.403C1040.695%2c460.234%2c1020.961%2c442.857%2c997.123%2c442.955C973.417%2c443.053%2c954.202%2c460.766%2c943.364%2c481.849C933.464%2c501.107%2c934.792%2c523.875%2c946.002%2c542.401C956.809%2c560.26%2c976.249%2c570.63%2c997.123%2c570.69' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1063'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
}

.tracking-in-expand-fwd {
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    font-size: var(--font-size-m);
    letter-spacing: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

@keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
}

.container-presentation div:first-child{
    margin-right: 5rem;
}

.container-presentation p:last-of-type{
    margin-top: 0.5rem;
    font-size: var(--font-size-titulo-principal);
    letter-spacing: 0.1rem;
}

.container-presentation .icons{
    filter: invert(18%) sepia(6%) saturate(22%) hue-rotate(347deg) brightness(97%) contrast(93%);
}

.container-presentation .img-icon{
    width: 1.7rem;
    margin-top: 1rem;
}

.container-presentation .img-person{
    width: 18rem;
}

.container-presentation img:first-child{
    margin-right: 1rem;
}

/*ABOUT*/

.container-about{
    display: flex;
    height: 35rem;
    justify-content: space-evenly;
    align-items: center;
}

.container-about .title{
    font-size: var(--font-size-m);
    margin-bottom: 3rem;
    color: var(--color-black);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.container-about .me{
    width: 40rem;
    margin-bottom: 3rem;
    color:var(--color-black);
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

.container-about a{
    background-color: var(--color-pink);
    padding: 0.5rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    border-radius: 0.5rem;
}

.container-skills-title{
    font-size: var(--font-size-s);
    margin-bottom: 2rem;
    color: var(--color-black);
    letter-spacing: 0.5rem;
    text-align: center;
    font-weight: 600;
}

.container-skills-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 25rem;
}

.container-skills-img div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.container-skills-img div p{
    margin-left: 0.5rem;
}

.container-skills img{
    width: 2rem;
    filter: invert(18%) sepia(6%) saturate(22%) hue-rotate(347deg) brightness(97%) contrast(93%); 
}

/*PROYECTS*/

.container-proyects{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color:hsla(346.242, 98%, 68%, 0.1); */
}

.container-proyects .container-proyects-text{
    text-align: center;
    font-size: var(--font-size-m);
    color: var(--color-black);
    letter-spacing: 0.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.container-proyects ul{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.container-proyects ul li{
    list-style: none;
    border: 2px solid var(--color-pink);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    color: var(--color-black);
    cursor: pointer;
    margin: 1rem;
}

.container-proyects ul li.active{
    background-color: var(--color-pink);
    color: var(--color-white);
}

.cards{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.card{
    /* width: 330px;
    height: 400px;  
    margin: 2rem;  */
    /* width: 100%;
    display: flex;
    flex-direction: row; */
    /* border-radius: 0.5rem; */
    /* box-shadow:5px 5px 10px var(--color-grey);
    background-color: #ffffff; */
    margin-bottom: 2rem;
}

.card-img{
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

.card img{
    width: 20rem;
}

.card .card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text p{
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-weight: 600;
}

.card-text div{
    display: flex;
}

.card-text div .first{
    background-color: var(--color-pink);
    padding: 0.5rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.card-text div .only{
    width: 9rem;
}

.card-text div .second{
    border: 2px solid var(--color-pink);
    padding: 0.5rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    color: var(--color-black);
}

.card-text div .mr{
    margin-right: 1rem;
}

/* CONTACT */

.contenedor-form{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1063%26quot%3b)' fill='none'%3e%3cpath d='M155.133%2c599.407C189.508%2c599.857%2c225.972%2c591.67%2c243.942%2c562.363C262.58%2c531.967%2c257.65%2c493.056%2c238.966%2c462.688C221.182%2c433.783%2c189.063%2c417.294%2c155.133%2c418.016C122.437%2c418.712%2c94.033%2c438.055%2c77.262%2c466.13C59.999%2c495.027%2c53.281%2c531.026%2c70.262%2c560.09C87.12%2c588.943%2c121.719%2c598.97%2c155.133%2c599.407' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M675.339%2c382.097C695.41%2c383.087%2c716.208%2c374.784%2c725.717%2c357.081C734.852%2c340.073%2c727.225%2c320.332%2c717.462%2c303.676C707.846%2c287.271%2c694.355%2c271.094%2c675.339%2c271.137C656.374%2c271.18%2c642.319%2c287.052%2c633.547%2c303.867C625.51%2c319.274%2c624.707%2c337.173%2c632.895%2c352.5C641.605%2c368.805%2c656.875%2c381.186%2c675.339%2c382.097' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M458.087%2c604.362C486.485%2c604.941%2c516.346%2c599.01%2c532.127%2c575.393C549.57%2c549.288%2c553.772%2c513.556%2c536.103%2c487.604C519.861%2c463.747%2c486.936%2c465.816%2c458.087%2c466.643C431.302%2c467.411%2c402.085%2c469.417%2c387.452%2c491.865C371.721%2c515.997%2c373.779%2c548.082%2c389.097%2c572.478C403.536%2c595.474%2c430.94%2c603.809%2c458.087%2c604.362' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M184.822%2c412.134C217.435%2c412.274%2c244.675%2c391.023%2c262.008%2c363.397C280.738%2c333.544%2c293.021%2c297.027%2c276.611%2c265.839C259.291%2c232.92%2c221.918%2c213.955%2c184.822%2c216.697C151.443%2c219.164%2c129.325%2c248.181%2c113.867%2c277.867C99.837%2c304.81%2c94.58%2c335.883%2c108.773%2c362.74C123.91%2c391.384%2c152.424%2c411.995%2c184.822%2c412.134' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M369.064%2c496.765C407.053%2c499.264%2c450.657%2c499.842%2c471.701%2c468.116C494.234%2c434.144%2c484.281%2c389.408%2c463.558%2c354.302C443.224%2c319.855%2c409.057%2c295.027%2c369.064%2c294.246C327.737%2c293.439%2c286.579%2c313.581%2c267.954%2c350.482C250.682%2c384.702%2c265.629%2c424.46%2c287.424%2c455.993C305.961%2c482.812%2c336.532%2c494.625%2c369.064%2c496.765' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1204.381%2c365.682C1260.793%2c365.293%2c1320.761%2c353.229%2c1350.204%2c305.109C1380.692%2c255.281%2c1372.57%2c191.211%2c1341.341%2c141.844C1312.199%2c95.776%2c1258.863%2c72.781%2c1204.381%2c74.588C1153.061%2c76.29%2c1110.046%2c107.228%2c1082.299%2c150.434C1051.591%2c198.251%2c1026.996%2c257.714%2c1055.032%2c307.145C1083.305%2c356.994%2c1147.073%2c366.077%2c1204.381%2c365.682' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1369.524%2c175.056C1406.63%2c174.609%2c1441.726%2c156.769%2c1460.357%2c124.676C1479.062%2c92.455%2c1476.217%2c53.596%2c1459.307%2c20.398C1440.436%2c-16.651%2c1411.102%2c-53.446%2c1369.524%2c-53.647C1327.723%2c-53.849%2c1297.64%2c-17.496%2c1278.224%2c19.522C1260.394%2c53.516%2c1255.388%2c93.808%2c1274.82%2c126.912C1294.035%2c159.645%2c1331.571%2c175.513%2c1369.524%2c175.056' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M402.519%2c150.928C423.561%2c149.279%2c437.013%2c131.06%2c447.694%2c112.855C458.56%2c94.334%2c469.008%2c73.132%2c459.438%2c53.91C449.057%2c33.059%2c425.793%2c21.202%2c402.519%2c22.119C380.628%2c22.981%2c364.144%2c39.324%2c352.871%2c58.109C341.164%2c77.618%2c332.424%2c100.984%2c343.155%2c121.046C354.354%2c141.983%2c378.848%2c152.783%2c402.519%2c150.928' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M919.755%2c449.235C936.776%2c449.368%2c953.865%2c441.233%2c961.307%2c425.924C968.105%2c411.942%2c960.081%2c396.586%2c951.723%2c383.477C944.19%2c371.661%2c933.753%2c361.405%2c919.755%2c360.75C904.642%2c360.043%2c890.179%2c367.399%2c882.145%2c380.22C873.58%2c393.888%2c871.598%2c411.118%2c879.316%2c425.281C887.351%2c440.026%2c902.964%2c449.103%2c919.755%2c449.235' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M997.123%2c570.69C1018.107%2c570.751%2c1037.821%2c560.607%2c1048.758%2c542.699C1060.185%2c523.989%2c1061.733%2c500.872%2c1051.654%2c481.403C1040.695%2c460.234%2c1020.961%2c442.857%2c997.123%2c442.955C973.417%2c443.053%2c954.202%2c460.766%2c943.364%2c481.849C933.464%2c501.107%2c934.792%2c523.875%2c946.002%2c542.401C956.809%2c560.26%2c976.249%2c570.63%2c997.123%2c570.69' fill='rgba(253%2c 96%2c 132%2c 0.45)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1063'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
}

.contenedor-form p{
    font-size: var(--font-size-m);
    margin-bottom: 3rem;
    color: var(--color-black);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

form label{
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

form input{
    margin-bottom: 1rem;
    width: 25rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-black);
    padding: 0.5rem;
    outline: none;
}

form textarea{
    margin-bottom: 1rem;
    min-width: 25rem;
    max-width: 25rem;
    min-height: 10rem;
    max-height: 10rem;
    border-radius: 0.5rem ;
    border: 1px solid var(--color-black);
    outline: none;
    padding: 0.5rem;
}

form button{
    width: 5rem;
    margin: auto;
    border: none;
    background-color: var(--color-pink);
    padding: 0.5rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: var(--font-size-base);
    outline: none;
}

/*FOOTER*/

footer{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-black);
}

@media screen and (min-width:768px){
    .toggle-menu{
        display: none;
    }
    .main-menu{
        flex-direction: row;
        justify-content:center;
        margin-right: 1rem;
        transform: translateY(0);
    }
}

@media screen and (max-width:440px){
    .container-presentation{
        height: 45rem;
        flex-direction: column;
    }

    .tracking-in-expand-fwd {
        margin-left: 3rem;
        margin-top: 3rem;
    }

    .container-presentation .icons{
        margin-left: 3rem;
    }

    .container-presentation .img-person{
        width: 17rem;
    }

    .container-presentation p:last-of-type{
        margin-left: 3rem;
        font-size: var(--font-size-m);
    }

    .container-about{
        height: 65rem;
        flex-direction: column;
    }
    
    .container-about .me{
        width: 23rem;
        margin-bottom: 1rem;
    }

    .container-about a{
        display: block;
        margin: auto;
    }

    .container-about .title{
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .container-skills-img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .container-skills-img div{
        flex-direction: column;
        margin: 0.7rem;
    }
    
    .container-proyects{
        max-height: 136rem;
    }

    .card img{
        width: 23rem;
    }

    .container-proyects ul{
        margin-bottom: 2rem;
    }

    .container-proyects ul li{
        padding: 0.3rem;
    }
    
    .contenedor-form{
        height: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    form{
        display: flex;
        flex-direction: column;
    }
    
    .contenedor-form p{
        font-size: var(--font-size-m);
        margin-bottom: 2rem;
        color: var(--color-black);
        letter-spacing: 0.5rem;
        margin-top: 5rem;
    }
    
    form label{
        letter-spacing: 0.1rem;
        margin-bottom: 0.5rem;
    }
    
    form input{
        margin-bottom: 1rem;
        width: 20rem;
        border-radius: 0.5rem;
        border: 1px solid var(--color-black);
        padding: 0.5rem;
    }
    
    form textarea{
        margin-bottom: 1rem;
        min-width: 20rem;
        max-width: 20rem;
        min-height: 10rem;
        max-height: 10rem;
        border-radius: 0.5rem ;
        border: 1px solid var(--color-black);
    }
}
