@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--color-white);
}

/*NAV*/

.toggle-menu{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    z-index: 1;  
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 50px;
}

nav{
    position: fixed;
    width: 100%;
}

.main-menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    transform: translateY(-100%);
    transition: transform 0.3s;
    width: 100%;
}

.main-menu--show{
    transform: translateY(0); /* menu se quede en la posicion */
}

.main-menu__item{
    padding: 1rem;
}

.main-menu__link{
    color: var(--color-black);
    text-decoration: none;
    position: relative;
}

.main-menu__link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:var(--color-pink);
    transform-origin: bottom right;
    transition:  transform 0.5s ease-out;
}

.main-menu__link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.flags{
    display: flex;
    align-items: center;
}

.flags p:first-child{
    margin-right: 0.5rem;
}

.flags__item p{
    width: 34px;
    padding: 0.4rem;
    cursor: pointer;
    background-color: var(--color-pink);
    border-radius: 50px;
    text-align: center;
    color: var(--color-white);
}

/*PRESENTATION*/

.container-presentation{
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
    background-color:var(--color-grey);
}

.container-presentation p:first-child{
    font-size: var(--font-size-titulo-principal);
    position: absolute;
    top: 35%;
    left: 25%;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.container-presentation .only{
    font-size: var(--font-size-titulo-principal);
    position: absolute;
    top: 52%;
    left: 51%;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.container-presentation p:last-of-type{
    margin-top: 0.5rem;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    position: absolute;
    top: 60%;
    left: 29%;
    letter-spacing: 0.1rem;
}

.t-stroke{
    color: transparent;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-white);
}

.t-shadow{
    text-shadow: 7px 7px var(--color-white);
}

.container-presentation div{
    position:absolute;
    top: 42%;
    left: 52%;
}

.container-presentation img{
    width: 1.7rem;
    margin-top: 1rem;
    filter: invert();
}

.container-presentation img:first-child{
    margin-right: 1rem;
}

/*ABOUT*/

.container-about{
    background-color:var(--color-white);
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.container-about img{
    width: 18rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}

.container-about p:first-child{
    font-size: var(--font-size-xl);
    margin-bottom: 2rem;
    color: var(--color-black);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.container-about p:last-of-type{
    width: 36rem;
    margin-bottom: 2rem;
    color:var(--color-black);
    letter-spacing: 0.1rem;
}

.container-about a{
    background-color: var(--color-pink);
    padding: 0.5rem;
    width: 6rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    border-radius: 0.5rem;
}

/*SKILLS*/

.container-skills{
    color:var(--color-white);
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--color-grey);
}

.container-skills p:first-child{
    font-size: var(--font-size-xl);
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.container-skills-img{
    display: flex;
}

.container-skills-img div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}

.container-skills img{
    width: 5rem;
    filter: invert();
}

/*PROYECTS*/

.container-proyects{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-proyects .container-proyects-text{
    text-align: center;
    font-size: var(--font-size-xl);
    margin-bottom: 5rem;
    color: var(--color-black);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 330px;
    height: 400px;   
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px var(--color-white);
}

.card-img{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.card img{
    width: 100%;
    height: 240px;
    object-fit:cover;
    border-radius: 0.5rem;
}

.card .card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text p{
    font-size: var(--font-size-sm);
    color: var(--color-black);
}

.card-text div{
    display: flex;
}

.card-text div a{
    background-color: var(--color-pink);
    padding: 0.5rem;
    width: 5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.card-text div .mr{
    margin-right: 1rem;
}

/*FOOTER*/

footer{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-grey);
    margin-top: 9rem;
}

@media screen and (max-width:440px){
    .flags__item p{
        margin-bottom: 1rem;
    }
    .container-presentation{
        height: 37rem;
    }
    .container-presentation p:first-child{
        font-size: 4rem;
        top: 23%;
        left: 20%;
    }
    .container-presentation .only{
        font-size: 4rem;
        top: 42%;
        left: 28%;
        letter-spacing: 0.5rem;
    }
    .container-presentation p:last-of-type{
        font-size: 1.2rem;
        top: 60%;
        left: 10%;
    }
    .container-presentation div{
        padding: 1rem;
        top:65%;
        left: 35%;
    }
    .container-about{
        flex-direction: column;
        height: 45rem;
    }
    .container-about p:first-child{
        font-size: var(--font-size-base);
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .container-about p:last-of-type{
        width: 20rem;
    }
    .container-skills{
        height: 30rem;
    }
    .container-skills p:first-child{
        font-size: var(--font-size-base);
        margin-bottom: 3rem;
    }
    .container-skills-img{
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-skills-img div{
        margin-bottom: 1rem;
    }
    .container-skills img{
        width: 4rem;
    }
    .container-proyects{
        height: 90rem;
        margin-top: 2rem;
    }
    .container-proyects .container-proyects-text{
        font-size: var(--font-size-base);
        margin-bottom: 4rem;
    }
    .cards{
        flex-direction: column;
    }
    .card{
        margin: auto;
        margin-bottom: 2.5rem;
        width: 330px;
        height: 380px; 
    }
    .card img{
        width: 100%;
        height: 240px;
        object-fit:cover;
        border-radius: 0.5rem;
    }
}

@media screen and (min-width:768px){
    .toggle-menu{
        display: none;
    }
    .main-menu{
        flex-direction: row;
        justify-content:center;
        margin-right: 1rem;
        transform: translateY(0);
    }
}

@media screen and (min-width:440px) and (max-width:768px){
    .container-presentation{
        height: 35rem;
    }
    .container-presentation p:first-child{
        font-size: 4rem;
        top: 25%;
        left: 35%;
    }
    .container-presentation .only{
        font-size: 4rem;
        top: 42%;
        left: 38%;
        letter-spacing: 0.5rem;
    }
    .container-presentation p:last-of-type{
        font-size: 1.2rem;
        top: 60%;
        left: 32%;
    }
    .container-presentation div{
        padding: 1rem;
        top:65%;
        left: 43%;
    }
    .container-about{
        flex-direction: column;
        height: 45rem;
    }
    .container-about p:first-child{
        font-size: var(--font-size-base);
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .container-about p:last-of-type{
        width: 20rem;
    }
    .container-skills{
        height: 30rem;
    }
    .container-skills p:first-child{
        font-size: var(--font-size-base);
        margin-bottom: 3rem;
    }
    .container-skills-img{
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-skills-img div{
        margin-bottom: 1rem;
    }
    .container-skills img{
        width: 4rem;
    }
    .container-proyects{
        height: 90rem;
        margin-top: 2rem;
    }
    .container-proyects .container-proyects-text{
        font-size: var(--font-size-base);
        margin-bottom: 4rem;
    }
    .cards{
        flex-direction: column;
    }
    .card{
        margin: auto;
        margin-bottom: 2.5rem;
        width: 330px;
        height: 380px; 
    }
    .card img{
        width: 100%;
        height: 240px;
        object-fit:cover;
        border-radius: 0.5rem;
    }
}

@media screen and (min-width:768px) and (max-width:1200px){
    .container-presentation p:first-child{
        font-size: 5rem;
        top: 27%;
        left: 35%;
    }
    .container-presentation .only{
        font-size: 5rem;
        top: 42%;
        left: 38%;
    }
    .container-presentation p:last-of-type{
        font-size: 1.2rem;
        top: 60%;
        left: 35%;
    }
    .container-presentation div{
        padding: 1rem;
        top:65%;
        left: 43%;
    }
    .container-about p:last-of-type{
        width: 15rem;
    }
    .container-proyects{
        height: 55rem;
        margin-top: 5rem;
    }
    .card{
        margin: auto;
        margin-bottom: 2.5rem;
        width: 330px;
        height: 380px; 
    }
}
